.msg{
    background-color: #FFFCFB ;
    border: 0.5px ridge grey;
    margin:30px;
    height:8%;
    text-align: left;
    padding-top: 15px;
}

.msg .sender{
    margin-top: -2%;
    font-size: small;
    font-style: italic;
    color:"#7C0200";
}

.msg .buttons{
    color:"#7C0200";
    text-align: right;
}

.msg .img .img-image{
    height: 40%;
    width: 40%;
}

