.main-box{
  margin: 10px auto;
  text-align: center;
  font-family: proxima-nova,Helvetica,Arial,sans-serif;
  display: flex;
  flex-flow: column;
  margin-bottom: 130px !important;
}

.title{
  font-weight: bold;
}

.left{
  float: left;
  margin: 0 auto;
  width:40%;
}

.main{
  padding-bottom: 0;
  padding-top: 0;
  margin: 0 150px;
  padding: 0 1.25rem;
  display: flex;
}

.right{
  float: right;
  margin: 0 auto;
  width:40%;
}

.input-group{
  padding-top: 1rem;
  position: relative;
  margin-bottom: 0.75rem;
  /* display: flex; */
  
}

.form-input{
  color: #1c1c1c;
  font-weight: 500;
  font-size: 1rem;
  font-family: proxima-nova,Helvetica,Arial,sans-serif;
  line-height: 1;
  box-sizing: border-box;
  padding: 0.9rem 3rem 0.9rem 1.25rem;
  width: 100%;
  border: 0.0625rem solid #d2d2d2;
  border-radius: 0.25rem;
}

.label-name{
  margin-bottom: 0.375rem;
  text-transform: capitalize;
  color: #1c1c1c;
  font-weight: 500;
  font-size: .875rem;
  font-family: proxima-nova,Helvetica,Arial,sans-serif;
  line-height: 1;
  display: block;
  cursor: default;
}

.right-group{
  margin: auto 0;
}

.bold-weight{
  font-weight: 600;
  line-height: 1.125rem;
  display: inline;
}

.link-to{
  font-weight: 600;
  line-height: 1.125rem;
  color: #b84c16;
  text-decoration: none;
}

.link-to:hover{
  text-decoration: underline;
  color: #b84c16;
}

.submit-button{
  /* float: left; */
  margin: auto;
  min-width: 8rem;
  width: calc(99.9% * 4/12 - 0.833333333333333rem);
  height: 3rem;
  background-color: #434053;
  color: #fff;
  color: #fff;
  font-weight: 900;
  font-size: 1rem;
  border: 0.0625rem solid;
}

.submit-button:hover{
  background-color: #6a6587;
}

.error {
/* border: 1px solid; */
margin: 10px auto;
padding: 0px 10px 0px 50px;
background-repeat: no-repeat;
background-position: 10px center;
max-width: 460px;
  color: #D8000C;
/* background-color: #FFBABA; */
background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.divide{
  width: 100%;
  display: flex;
}

.parts{
  margin-right: 10%;
  position: relative;
  text-align: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}