
/* .parent .inputBox {
    position: absolute;
    bottom: 0;
    float: bottom;
    margin-bottom: 100px;
    /* width: 50%; */
    /* margin-left: 40px;
    justify-content: center; */
    /* margin-right: 100px; */
    /* padding-right: 50px; */
    /* Center horizontally*/
    /* margin: 0 auto; */
/* } */ 

.parent .inputBox .send-button{
    /* margin-left: 10px; */
    background-color: "#7C0200";
    float: center;
    margin-top: 20px;
}


.parent .inputBox .inputBox-child-1{
    /* display: inline-block; */
    /* margin: auto 10px; */
    flex: 1;
    position: fixed;
    bottom: 0;
    margin-bottom: 130px;
    float: left;
    width: 20%;
    margin-left: 2%;
    margin-top: 100px;
    /* justify-content: center; */
}

.parent .inputBox .inputBox-child-2{
    /* display: inline-block; */
    /* margin: auto 10px; */
    flex: 1;
    position: fixed;
    bottom: 0;
    margin-bottom: 130px;
    float: left;
    /* width: 40%; */
    margin-left: 22%;
    /* justify-content: center; */
}

/* .right{
    margin-top: 10px;
    border: 1px solid #1c1c1c;
} */