.main-one{
    display: block !important;
    flex-direction: row;
    margin-bottom: 130px;
    /* max-width: 97%; */
}

.event-card{
    margin-right: 5px;
    margin-left: 5px;
}

.search-class{
    width: 90% !important;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.rounded{
    margin: auto 5px;
}

.margin{
    margin: auto;
}

.lable{
    border: none !important;
    padding-bottom: 0% !important;
}

.search-inp{
    display: flex;
    flex-direction: row;
}

.no-padding{
    padding: 0.3rem 0.3rem;
}

.input-group{
    margin: auto 5px;
}